<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Update</title>
</head>
<body>
<form action="/persons/up" method="PUT">
    <div class="form-group">
        <input class="form-control" style="text-align: center" id="id" placeholder="Id" required/>
        <input class="form-control" style="text-align: center" id="first" placeholder="First name" required/>
        <input class="form-control" style="text-align: center" id="last" placeholder="Last name" required/>
        <input class="form-control" style="text-align: center" id="email" placeholder="E-mail" required/>
    </div>
    <div class="col-md-6">
        <button type="button" name="one" id="addOne" onclick="createUser();" class="btn btn-default">Update Person</button>
    </div>
</form>
<script>
    function createUser() {
        let request = new XMLHttpRequest();
        const id = document.querySelector("#id").value
        const firstName = document.querySelector("#first").value
        const lastName = document.querySelector("#last").value
        const email = document.querySelector("#email").value
        const body = {
            Id: id,
            firstName: firstName,
            lastName: lastName,
            email: email
        }
        request.open("PUT", "/persons/up");
        request.setRequestHeader("Accept","application/json")
        request.setRequestHeader("Content-Type","application/json")
        request.send(JSON.stringify(body));
    }
</script>
</body>
</html>